html {
  font-size: 13px;
}

body {
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
}

.event {
  height: 200px;
  margin-bottom: 15px;
  background-color: white;
}

.event-header {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  font-size: 30px;
}

.details {
  max-width: 600px;
  font-size: 1rem;
}

.summary {
  padding-bottom: 10px;
}

.ol {
  padding: 5px 0 0 25px;
  list-style-type: decimal;
}

.li {
  line-height: 1.5;
}

.paragraph {
  line-height: 1.5;
}

.sc-section-forms--hidden {
  display: none;
}

.lds-dual-ring {
  display: block;
  margin: 0 auto;
  width: 54px;
  height: 54px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid #424242;
  border-color: #424242 transparent #424242 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sc-comment__menu {
  position: relative;
}

.sc-comment__menu-toggle {
  border: none;
  background-color: transparent;
}

.meatballs-menu {
  display: flex;
  cursor: pointer;
}

.circle {
  width: 5px;
  height: 5px;
  margin: 2px;
  background: #777777;
  border-radius: 50%;
  display: block;
}

.sc-comment__menu-action-list {
  display: none;
}

.sc-comment__menu-action-list--visible {
  display: block;
  position: absolute;
  padding: 0px 10px;
  border: 1px solid;
  z-index: 9999;
  background: white;
  left: 0;
  width: 110px;
}

